{% extends 'layoutWithNav.html.twig' %}

{% block content %}

    <section>

        <div class="container-fluid">
            <div class="row justify-content-md-center">


                <!--Première card-->



                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">


                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5"> Slasher</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm1.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm2.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm3.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--/.Panel-->

                </div>
                <!-- Grid column -->


                <!--Deuxième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6" id="flex">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Torture</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm4.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm5.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="..Film/film.html.twig" class="fontLink">{{ listeFilm6.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->



                <!--Troisième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Zombie</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm7.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm8.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm9.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->



                <!--Quatrième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Survival</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm10.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm11.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm12.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->



                <!--Cinquième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Serial killer</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink"> {{ listeFilm13.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm14.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm15.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->



                <!--Sixième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Exorcism</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm16.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm17.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm18.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->


                <!--Septième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Gore</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm19.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm20.title }}</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">{{ listeFilm21.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->



                <!--Huitième card-->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-6">

                    <!--Panel-->
                    <div class="card">
                        <h2 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Mad Scientist</h2>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">The_Human_Centipede</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">La_Mouche</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="small-list">
                                    <a href="../Film/film.html.twig" class="fontLink">Frankenstein</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->



            </div>
        </div>




    </section>

{% endblock %}
